
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Admin/Index/">Admin Paneli</a>
        </li>
        <li class="breadcrumb-item active">Genel</li>
    </ol>
    <!-- Icon Cards-->
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-graduation-cap"></i>
                    </div>
                    <div class="mr-5">Toplam Mezun Sayısı : @ViewBag.MezunSayisi</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/AdminUye/Index/">
                    <span class="float-left">Detay</span>
                    <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-school"></i>
                    </div>
                    <div class="mr-5">Toplam Bölüm Sayısı : @ViewBag.BolumSayisi</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/AdminBolum/Index/">
                    <span class="float-left">Detay</span>
                    <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
 

</div>