@model MvcTakip.Models.tblBolum

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="adminBolumDetail">

<div>
    
    <dl class="dl-horizontal">
        <dt>
            <h5>Bölüm Adı:</h5>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bolum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.id }, new { @class="btn btn-outline-primary"}) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
</div>

<style>
    .adminBolumDetail{
        margin-left:30px;
    }
</style>