@model MvcTakip.Models.tblBolum

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div>
    
    <dl class="dl-horizontal">
        <dt>
            <h5>Bölüm Adı:</h5>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bolum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
